@import url("https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Mulish", sans-serif;
}
.nepali-date-picker-container {
  position: relative;
}
.nepali-date-picker-button {
  border-radius: 4px;
  border: none;
  outline: none;
  min-width: 200px;
  min-height: 28px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.nepali-calendar {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  position: absolute;
}

.nepali-calendar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.nepali-calendar-month {
  font-weight: bold;
  border: 1px solid #bdbdbd;
  cursor: pointer;
}
.nepali-calendar-month-dropdown {
  font-weight: bold;
  outline: none;
  border: none;
  padding: 4px 2px;
  width: 65px;
  text-align: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  font-size: 13px;
  color: rgb(107, 107, 107);
}

.nepali-calendar-next-button,
.nepali-calendar-prev-button {
  padding: 0px 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nepali-calendar-week {
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(107, 107, 107);
}

.prev-next-month-days {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(170, 170, 170);
  user-select: none;
  cursor: default;
}
.current-month-days {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  user-select: none;
}

.nepali-calendar-render {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 8px;
  column-gap: 1px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 4px;
}
